<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<main class="col-4 offset-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Profile</h1>
            </div>
        </div>


        <div class="row" sec:authorize="hasRole('DOCTOR')">
            <div class="col-12">
                <div class="card card-block">
                    <div class="card-body">
                        <h3 class="card-title">Doctor Details</h3>
                        <hr>
                        <p class="card-subtitle mb-2" th:text="${'UIN: ' + user.doctorDetail.uin}"></p>
                        <p class="card-subtitle mb-2" th:text="${'Patients: ' + #lists.size(user.patients)}"></p>
                        Specialties:
                        <ul class="list-group">
                            <li th:each="specialty : ${user.doctorDetail.specialties}" th:text="${specialty.name}"
                                class="list-group-item">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="card card-block">
                    <div class="card-body">
                        <h3>Examinations</h3>
                        <hr>
                        <p th:if="${user.examinations.empty}">No examinations yet.</p>
                        <ul class="list-group">
                            <li th:each="examination : ${user.examinations}" class="list-group-item">
                                <a th:href="@{/users/profile/examinations/{examinationId}(examinationId=${examination.id})}"
                                   th:text="${examination.date}" class="nav-link">Link</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</main>